---
import Layout from '../layouts/Layout.astro';
import { SignUpForm } from '../components/SignUpForm';
---

<Layout title="Sign Up - Islamic Roadmap">
  <main class="container mx-auto px-4 py-8">
    <SignUpForm client:load />
  </main>
</Layout> 