---
import UpdatePasswordComponent from '../components/UpdatePassword.jsx'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Update Password - Islamic Roadmap</title>
  </head>
  <body>
    <main class="container mx-auto px-4 py-8">
      <UpdatePasswordComponent client:load />
    </main>

    <style is:global>
      :root {
        --accent: 124, 58, 237;
        --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
      }
      html {
        font-family: system-ui, sans-serif;
        background-color: #F6F6F6;
      }
    </style>
  </body>
</html>